Repository jnightneko/Broker, pull requests merged in 2025-04, with the labels that each got.

#12 Add OpenAPI
   openapi.yml
Labels: documentation

#14 Microservicio de validaciones
  assets/mockoon/pagos.json
  microservice-config/src/main/resources/configurations/msvc-gateway.yml
  microservice-config/src/main/resources/configurations/msvc-validation.yml
  microservice-gateway/pom.xml
  microservice-gateway/src/main/java/gt/edu/umes/broker/gateway/MicroserviceGatewayApplication.java
  microservice-gateway/src/main/java/gt/edu/umes/broker/gateway/controller/GatewayController.java
  microservice-validation/.gitattributes
  microservice-validation/.gitignore
  microservice-validation/.mvn/wrapper/maven-wrapper.properties
  microservice-validation/mvnw
  microservice-validation/mvnw.cmd
  microservice-validation/pom.xml
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/Configuration.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/MicroserviceValidationApplication.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/Validation.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/controller/ValidationController.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/controller/package-info.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/model/AbstractBKModel.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/model/BKErrorResponseModel.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/model/BKRequestModel.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/model/BKResponseModel.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/model/MetaData.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/model/Response.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/model/package-info.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/package-info.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/ConnectorService.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/LogListener.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/LogService.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/ValidationService.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/package-info.java
  microservice-validation/src/main/resources/application.yml
  microservice-validation/src/main/resources/banner.txt
  microservice-validation/src/test/java/gt/edu/umes/broker/validation/MicroserviceValidationApplicationTests.java
  pom.xml
Labels: microservice

#15 Acualización microservice-connector
  assets/mockoon/admin.json
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/AdminClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/AdminController.java
Labels: microservice, fix

#16 Actualizar documentos
  README.md
  assets/arch/SFPN.png
  assets/arch/SFPN_WB.excalidraw
  assets/docs/PROTOCOLO.md
Labels: documentation

#17 Update README.md
  README.md
Labels: documentation

#18 Actualización OpenAPI
   openapi.yml
Labels: documentation

#19 Ajustando a documentacion
  .idea/encodings.xml
  .idea/misc.xml
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVAdmin.java
  core/src/main/java/gt/edu/umes/broker/core/model/Response.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/service/AuthService.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/service/JwtService.java
Labels: microservice

#20 Logs
  .idea/encodings.xml
  assets/base_de_datos/DB/Log.bson
  assets/base_de_datos/DB/Log.metadata.json
  assets/base_de_datos/DB/Sesion.bson
  assets/base_de_datos/DB/Sesion.metadata.json
  assets/base_de_datos/DB/Token.bson
  assets/base_de_datos/DB/Token.metadata.json
  assets/base_de_datos/DB/Usuario.bson
  assets/base_de_datos/DB/Usuario.metadata.json
  assets/base_de_datos/DB/estadoPeticion.bson
  assets/base_de_datos/DB/estadoPeticion.metadata.json
  assets/base_de_datos/DB/prelude.json
  microservice-config/src/main/resources/configurations/msvc-logs.yml
  microservice-logs/.gitattributes
  microservice-logs/.gitignore
  microservice-logs/.mvn/wrapper/maven-wrapper.properties
  microservice-logs/mvnw
  microservice-logs/mvnw.cmd
  microservice-logs/pom.xml
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/MicroserviceLogsApplication.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/controllers/LogController.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/controllers/SesionController.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/controllers/TokenController.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/controllers/UsuarioController.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/models/Log.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/models/Sesion.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/models/Token.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/models/Usuario.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/repository/LogRepository.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/repository/SesionRepository.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/repository/TokenRepository.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/repository/UsuarioRepository.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/services/LogService.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/services/SesionService.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/services/TokenService.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/services/UsuarioService.java
  microservice-logs/src/main/resources/application.yml
  microservice-logs/src/test/java/gt/edu/umes/broker/logs/MicroserviceLogsApplicationTests.java
  pom.xml
Labels: microservice, mongodb

#21 Endpoints DB
   openapi.yml
Labels: documentation

#25 Soporte para mongodb de forma remota (Atlas)
  microservice-config/src/main/resources/configurations/msvc-logs.yml
Labels: microservice, mongodb

#27 Conexión del con la base de datos
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVBroker.java
  core/src/main/java/gt/edu/umes/broker/core/model/BKMsgResponseModel.java
  core/src/main/java/gt/edu/umes/broker/core/model/JsonArrayX.java
  core/src/main/java/gt/edu/umes/broker/core/model/JsonObjectX.java
  core/src/main/java/gt/edu/umes/broker/core/model/MetaData.java
  core/src/main/java/gt/edu/umes/broker/core/system/RSACipher.java
  microservice-identity/pom.xml
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/client/ClientLogs.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/controller/AuthController.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/dto/JsonObjectDTO.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/service/AuthService.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/service/JwtService.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/service/LogsService.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/controller/ValidationController.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/LogService.java
Labels: microservice, mongodb
