Repository jnightneko/Broker, pull requests merged in 2025-05, with the labels that each got.

#28 Actulizaciónde endpoints (admin)
  assets/mockoon/admin.json
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVAdmin.java
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVBroker.java
  microservice-config/src/main/resources/configurations/msvc-connector.yml
  microservice-connector/pom.xml
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/AdminClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/config/FeignConfiguration.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/AdminController.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/client/ClientLogs.java
Labels: microservice

#29 Mapeo de endpoints - tienda
  assets/mockoon/tienda.json
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVTienda.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/TiendaClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/TiendaController.java
Labels: microservice

#30 Arregla un bug con el resgitro de usuarios
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/controller/AuthController.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/service/LogsService.java
Labels: microservice, fix

#31 Mejora en el mapeo
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/AdminClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/GasClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/PagosClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/PinturaClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/RepuestosClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/AdminController.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/GasController.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/PagoController.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/PinturaController.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/RepuestosController.java
Labels: microservice

#32 Documentación
  README.md
  assets/docs/ARRANQUE.md
Labels: documentation

#37 Acutualizar arquitectura
  assets/arch/SFPN.png
  assets/arch/SFPN_WB.excalidraw
Labels: documentation

#39 cerrarSesion ya funciona
  core/src/main/java/gt/edu/umes/broker/core/system/SFPBSystem.java
  microservice-config/src/main/resources/configurations/msvc-logs.yml
  microservice-connector/pom.xml
  microservice-identity/pom.xml
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/config/JWTAuthorizationFilter.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/service/AuthService.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/service/JwtService.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/service/LogsService.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/controllers/TokenController.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/models/Token.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/services/TokenService.java
  microservice-validation/pom.xml
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/client/ClientLogs.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/controller/ValidationController.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/LogService.java
  openapi.yml
Labels: microservice

#36 Implementación-Hardware
  WebSocketBroker/src/arduino/main.ino
  WebSocketBroker/src/python/client.py
  microservice-validation/pom.xml
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/config/WebSocketConfig.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/handler/SpringSocketHandler.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/ValidationService.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/ValidationServiceHardware.java
Labels: microservice, arduino

#40 Mejora en la detección de logs (Hardware)
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/controller/ValidationController.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/LogService.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/ValidationService.java
Labels: microservice, arduino

#41 Endpoints administración
  assets/mockoon/admin.json
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVAdmin.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/AdminClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/AdminController.java
Labels: microservice

#43 Endpoints Taller y repuestos
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVRepuestos.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/RepuestosClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/RepuestosController.java
Labels: microservice

#45 Parche de conexiones
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/config/GlobalExceptionHandler.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/controller/ValidationController.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/service/ConnectorService.java
Labels: microservice, fix

#47 Mapeo Tienda
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVTienda.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/TiendaClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/TiendaController.java
Labels: microservice

#46 Cors
  microservice-config/src/main/resources/configurations/msvc-gateway.yml
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/MicroserviceConnectorApplication.java
  microservice-gateway/src/main/java/gt/edu/umes/broker/gateway/filter/AuthenticationFilter.java
  microservice-identity/src/main/java/gt/edu/umes/broker/identity/IdentityServiceApplication.java
  microservice-logs/src/main/java/gt/edu/umes/broker/logs/MicroserviceLogsApplication.java
  microservice-validation/src/main/java/gt/edu/umes/broker/validation/MicroserviceValidationApplication.java
Labels: microservice, fix
