Repository jnightneko/Broker, pull requests merged in 2025-06, with the labels that each got.

#48 Microservice gateway cors
  microservice-config/src/main/resources/configurations/msvc-gateway.yml
Labels: microservice, fix

#52 Arregla los valores por parametro
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/TiendaClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/TiendaController.java
Labels: microservice, fix

#51 Nuevo enpoint ADMIN
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVAdmin.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/AdminClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/AdminController.java
Labels: microservice

#53 Correciones endpoint pintura
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVPintura.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/PinturaClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/PinturaController.java
Labels: fix

#55 Add ruras admin
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVAdmin.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/AdminClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/AdminController.java
Labels: microservice

#56 Fix. SALIDAS de errores
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/config/GlobalExceptionHandler.java
  microservice-gateway/src/main/java/gt/edu/umes/broker/gateway/config/GlobalExceptionHandler.java
  microservice-gateway/src/main/java/gt/edu/umes/broker/gateway/filter/AuthenticationFilter.java
  microservice-gateway/src/main/java/gt/edu/umes/broker/gateway/util/JwtUtil.java
  microservice-gateway/src/main/java/gt/edu/umes/broker/gateway/util/TokenException.java
Labels: fix

#60 Fix: Arreglo de enpoints
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVAdmin.java
  core/src/main/java/gt/edu/umes/broker/core/endpoints/MCSVPintura.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/AdminClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/client/PinturaClient.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/AdminController.java
  microservice-connector/src/main/java/gt/edu/umes/broker/connector/controller/PinturaController.java
Labels: microservice, fix
